{{ form_errors (form) }}          

<div class="control-group">
    {{ form_label(form.fechaHoraEgreso,'Fecha/hora egreso',{ label_attr : { class : 'control-label'} }) }} 
        <div class="controls" style="width:575px;">
        {{ form_widget (form.fechaHoraEgreso, { attr : { class : 'span3' } }) }}
        {{ form_errors (form.fechaHoraEgreso) }}
    </div>
</div>   

<div class="control-group">
        {{ form_label(form.tipoAlta,'Tipo de alta',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.tipoAlta, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.tipoAlta) }}
    </div>
</div>   


<legend>Diagnósticos de egreso</legend>

<div data-collection="diagnosticos" data-prototype="{{ _self.diagnosticos(form.diagnosticoEgreso.vars.prototype)|e }}">
    {% for diagnostico in form.diagnosticoEgreso %}
        {{ _self.diagnosticos(diagnostico) }}
    {% endfor %}
</div>

<div class="control-group">
    <div class="controls">
        <button class="btn btn-small" data-collection-add="diagnosticos"><i class="icon-plus"></i></button>
    </div>
</div>

{% macro diagnosticos(diagnostico) %}
    <div class="control-group">        
        <div class="controls">
            <div class="span7">
                {{ form_widget(diagnostico, { attr: { class: 'span11' } }) }}        
            </div>
            <button data-collection-del="diagnosticos" data-collection-parent-to-remove=".control-group" class="btn"><i class="icon-minus"></i></button>
            {{ form_errors(diagnostico) }}
        </div>
    </div>
{% endmacro %}


{{ form_widget(form._token) }}