{% extends "CipenInternacionBundle:Internacion:editar_layout.html.twig" %}
 
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li><a href="{{ path('internacion_ingreso_editar', { id: entity.id }) }}">Ingreso</a></li>
        <li><a href="{{ path('internacion_habitacion', { id: entity.id }) }}">Habitación</a></li>
        <li><a href="{{ path('internacion_prestacion', { internacionId: entity.id, pacienteId: entity.paciente.id }) }}">Prestaciónes</a></li>
        <li class="active"><a href="{{ path('internacion_egreso_editar', { id: entity.id }) }}">Egreso</a></li>        
    </ul> 
        
    <form class="form-horizontal" method="POST" action="{{ path('internacion_egreso_editar', { 'id': entity.id }) }}" novalidate="novalidate">

        {% include 'CipenInternacionBundle:InternacionEgreso:_form.html.twig' %}        
        
        <div class="form-actions">
            <button class="btn btn-primary pull-right" type="submit">Finalizar internación</button>
        </div>
        
    </form>
    
{% endblock %}