{% extends "CipenInternacionBundle:Internacion:editar_layout.html.twig" %}
 
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li><a href="{{ path('internacion_ingreso_editar', { id: entity.id }) }}">Ingreso</a></li>
        <li><a href="{{ path('internacion_habitacion', { id: entity.id }) }}">Habitaci贸n</a></li>
        <li ><a href="{{ path('internacion_medicamento', { id: entity.id }) }}">Medicaci贸n</a></li>        
        <li><a href="{{ path('internacion_prestacion', { internacionId: entity.id }) }}">Prestaci贸nes</a></li>
        <li class="active"><a href="{{ path('internacion_egreso_editar', { id: entity.id }) }}">Egreso</a></li>        
    </ul> 
        
    <form class="form-horizontal" method="POST" action="{{ path('internacion_egreso_editar', { 'id': entity.id }) }}" novalidate="novalidate">

        {% include 'CipenInternacionBundle:InternacionEgreso:_form.html.twig' %}        
        
        <div class="form-actions">
            <button class="btn btn-primary pull-right" type="submit">Finalizar internaci贸n</button>
        </div>
        
    </form>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'CipenInternacionBundle:InternacionEgreso:_form_js.html.twig' %}
{% endblock %}  