{{ form_errors (form) }}

<div class="control-group">
    {{ form_label(form.nombre,'Nombre *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.nombre, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.nombre) }}
    </div>
</div>                 

<div class="control-group">
    {{ form_label(form.marca,'Marca',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.marca, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.marca) }}
    </div>
</div> 

<div class="control-group">
    {{ form_label(form.catastro,'Es catastro?',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.catastro, { attr : { class : 'span1' } }) }}
        {{ form_errors (form.catastro) }}
    </div>
</div> 

<div class="control-group" data-id="kairo-group" >
    {{ form_label(form.kairo,'Precio *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        <div class="input-prepend">
            <span class="add-on">$</span>
            {{ form_widget (form.kairo, { attr : { class : 'span6' } }) }}
        </div>
        {{ form_errors (form.kairo) }}
    </div>
</div> 

{{ form_rest (form) }}
