{{ form_errors (form) }}

<div class="control-group">
    {{ form_label(form.cuit,'CUIT',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.cuit, { attr : { class : 'span3' } }) }}
        {{ form_errors (form.cuit) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.nombre,'Nombre *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.nombre, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.nombre) }}
    </div>
</div>   

<div class="control-group">
    {{ form_label(form.direccionBarrio,'Barrio',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.direccionBarrio, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.direccionBarrio) }}
    </div>
</div> 

<div class="control-group">
    {{ form_label(form.direccionCalle,'Calle',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.direccionCalle, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.direccionCalle) }}
    </div>
</div> 

<div class="control-group">
    {{ form_label(form.direccionNumero,'Número',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.direccionNumero, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.direccionNumero) }}
    </div>
</div> 
 

{{ form_widget (form._token) }}
