{% extends "ComunComunBundle:Default:layout.html.twig" %}
  
{% block admin_title %}
    Gestión de obra social
{% endblock %}
    
{% block admin_actions %}
    <li><a href="{{ path('obra_social_crear') }}"><i class="icon-plus"></i> Crear</a></li>
{% endblock %}
    
{% set admin_menu_active = 'obraSocial' %}
    
{% block admin_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Obra social</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                            <a class="btn" href="{{ path('obra_social_unidad', {obraSocialId: entity.id}) }}" title="Unidades" >
                                <i class="icon-list"></i>
                            </a>
                            <a class="btn" href="{{ path('obra_social_editar', {id: entity.id}) }}" title="Editar" >
                                <i class="icon-pencil"></i>
                            </a>
                            <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar esta obra social?')){ return false }" href="{{ path('obra_social_eliminar', {id: entity.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a>                                
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
