{{ form_errors (form) }}

<div class="control-group">
    {{ form_label(form.obraSocial,'Obra Social',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.obraSocial, { attr : { class : 'span4' } }) }}
        {{ form_errors (form.obraSocial) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.codigo,'Código',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.codigo, { attr : { class : 'span4' } }) }}
        {{ form_errors (form.codigo) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.descripcion,'Descripción',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.descripcion, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.descripcion) }}
    </div>
</div> 

<div class="control-group">
    {{ form_label(form.valor,'Valor',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.valor, { attr : { class : 'span3' } }) }}
        <div class="checkbox">
            {{ form_widget (form.anularFacturacion10y90) }} Anular tipo de facturación de 10%
        </div>
        {{ form_errors (form.valor) }}
    </div>
</div> 


{{ form_rest (form) }}
