{% extends "CipenPrestacionBundle:Modulo:editar_layout.html.twig" %}
            
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li><a href="{{ path('modulo_editar', { id: entity.id }) }}">Datos del módulo</a></li>
        <li class="active" ><a href="{{ path('modulo_agregar_acto', { moduloId: entity.id }) }}">Actos médicos</a></li>
    </ul>  

    
    <form action = "{{ path('modulo_agregar_acto', { moduloId: entity.id }) }}" method = "POST" class="form-inline" >
        <div class="well well-small">
            {{ form_widget (form.actoUnidad, { attr : { class : 'span11' } }) }}
                <button type="submit" class="btn btn-primary" style="margin-left: 10px" title="Agregar acto médico">
                 <i class="icon-plus icon-white"></i>
            </button>
        </div>
    </form>
    

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Actos Médicos</th>
                
            </tr>
        </thead>
        <tbody>
            {% for actoUnidad in entity.actoUnidad %}
                <tr>
                    <td>{{ actoUnidad.acto.descripcion }}</td>
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                           <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar este acto médico del módulo?')){ return false }" href="{{ path('modulo_eliminar_acto', {moduloId: entity.id, actoUnidadId: actoUnidad.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a>                                
                        </div>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td >No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
