{% extends "CipenPrestacionBundle:Acto:editar_layout.html.twig" %}
            
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li><a href="{{ path('acto_editar', { id: actoId }) }}">Datos de acto médico</a></li>
        <li class="active"><a href="{{ path('acto_unidad', { actoId: actoId }) }}">Obras Sociales</a></li>
    </ul>    
    
    <div class="well well-small">
        <a href="{{ path('acto_unidad_crear', { actoId : actoId }) }}"><i class="icon-plus"></i> Agregar Obra Social</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Obra Social</th>
                <th>Tipo Nomenclador</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.obraSocial.nombre }}</td>
                    <td>{{ entity.nomenclador }}</td>
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                            <a class="btn" href="{{ path('acto_unidad_editar', {actoId: actoId, id: entity.id }) }}" title="Editar" >
                                <i class="icon-pencil"></i>
                            </a>
                            <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar esta unidad?')){ return false }" href="{{ path('acto_unidad_eliminar', {actoId: actoId, id: entity.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a>                                
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
