

<div class="control-group">
        {{ form_label(form.fecha,'Fecha *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls" style="width:575px;">
        {{ form_widget (form.fecha, { attr : { class : 'span3' } }) }}
        {{ form_errors (form.fecha) }}
    </div>
</div>  

<div class="control-group">
    {{ form_label(form.medicamento,'Medicamento *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.medicamento, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.medicamento) }}
    </div>
</div>                 

<div class="control-group">
    {{ form_label(form.via,'Vía',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.via, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.via) }}
    </div>
</div> 

<div class="control-group">
    {{ form_label(form.cantidad,'Cantidad *',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.cantidad, { attr : { class : 'span2' } }) }}
        {{ form_errors (form.cantidad) }}
    </div>
</div>   

{{ form_rest(form) }}