{% extends "CipenInternacionBundle:Internacion:editar_layout.html.twig" %}  
  
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li><a href="{{ path('internacion_ingreso_editar', { id: internacion.id }) }}">Ingreso</a></li>
        <li><a href="{{ path('internacion_habitacion', { id: internacion.id }) }}">Habitación</a></li>
        <li  class="active" ><a href="{{ path('internacion_medicamento', { id: internacion.id }) }}">Medicación</a></li>
        <li><a href="{{ path('internacion_prestacion', { internacionId: internacion.id }) }}">Prestaciónes</a></li>
        <li><a href="{{ path('internacion_egreso_editar', { id: internacion.id }) }}">Egreso</a></li>        
    </ul> 

    <div class="well well-small">
        <a href="{{ path('internacion_medicamento_crear', { id : internacion.id }) }}"><i class="icon-plus"></i> Agregar medicación</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Medicamento</th>                
                <th width="100">Cantidad</th>
                <th width="100">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in internacion.internacionMedicamento %}
                <tr>
                    <td>{{ entity.medicamento.nombre }}</td>
                    <td>{{ entity.cantidad }}</td>                
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                            <a class="btn" href="{{ path('internacion_medicamento_editar', {id:internacion.id, medicamentoId: entity.id}) }}" title="Editar" >
                                <i class="icon-pencil"></i>
                            </a>        
                            <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar esta habitación?')){ return false }" href="{{ path('internacion_medicamento_eliminar', {id:internacion.id ,medicamentoId: entity.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a> 
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
