{{ form_errors (form) }}

<div class="control-group">
    {{ form_label(form.obraSocial,'Obra Social',{ label_attr : { class : 'control-label'} }) }} 
    <div class="controls">
        {{ form_widget (form.obraSocial, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.obraSocial) }}
    </div>
</div>          

<div class="control-group">
    {{ form_label(form.periodo,'Periodo',{ label_attr : { class : 'control-label'} }) }} 
    {{ form_widget(form.periodo.day, { 'attr' : { 'style': 'display:none' }}) }}        
    
    <div class="controls">
        <div class="input-append" style="margin-right: 20px;">
            {{ form_widget (form.periodo.month, { attr : { class : 'span8' } }) }}   
            <div class="add-on">Mes</div>                         
        </div>
        <div class="input-append">
            {{ form_widget (form.periodo.year, { attr : { class : 'span8' } }) }}   
            <div class="add-on">Año</div>                                     
        </div>            
        {{ form_errors (form.periodo) }}
    </div>
</div> 


{{ form_widget (form._token) }}
