<html>
    <head>
        <link type="text/css" rel="media"
              href="{{ asset('bundles/comuncomun/css/factura-pdf.css') }}" />
    </head>

    <body>

    {% if tipo_total == "" %}
        {{ _self.facturaInternacion (factura,periodo,facturaInternaciones,prestaciones,tipo_total) }}
        <pagebreak type="NEXT-ODD" resetpagenum="1" pagenumstyle="i" suppress="off" />
        {{ _self.facturaInternacion (factura,periodo,facturaInternaciones,prestaciones,tipo_total) }}
    {% else %}        
        {{ _self.facturaInternacion (factura,periodo,facturaInternaciones,prestaciones,tipo_total) }}
    {% endif %}
        
    {% macro facturaInternacion (factura,periodo,facturaInternaciones,prestaciones,tipo_total,loop,tipo_total_al10_al90_unitario) %}  
        
            <div class="titulo">RESUMEN GENERAL DE FACTURACIÓN</div>

            

            <table class="table table-align-left">
                <thead>
                    <tr>
                        <th>
                            Obra Social: 
                            {{ factura.obraSocial is not empty ? "Obra social "~factura.obraSocial : "Sin obra social" }}
                        </th>
                    </tr>
                    <tr>
                        <th>Periodo: {{ periodo }}</th>
                    </tr>
                </thead>
            </table>

            <table class="table-bordered" >
                 <thead>
                     <tr>

                         {% if tipo_total_al10_al90_unitario == "al90" %}

                                 <th  width="30">&nbsp;</th>
                                 <th width="100">Factura N°</th>
                                 <th>&nbsp;</th>
                                 <th width="100">N° SASOS</th>
                                 <th width="200">Importe Facturado</th>
                                 <th width="80">90% - 50%</th>
                                 <th width="80">Total</th>

                          {% elseif tipo_total_al10_al90_unitario == "al10" %}   

                                 <th  width="30">&nbsp;</th>
                                 <th width="100">Factura N°</th>
                                 <th>&nbsp;</th>
                                 <th width="100">N° SASOS</th>
                                 <th width="200">Importe Facturado</th>
                                 <th width="80">90% - 50%</th>
                                 <th width="80">Total</th>

                          {% else %}
                                 <th  width="30">&nbsp;</th>
                                 <th width="100">Factura N°</th>
                                 <th width="200">Valor unitario</th>
                                 <th width="80">Total</th>                            
                          {% endif %}

                         <th  width="30">&nbsp;</th>
                         <th width="100">Factura N°</th>
                         <th>&nbsp;</th>
                         <th width="100">N° SASOS</th>
                         <th width="200">Importe Facturado</th>
                         {% if tipo_total == "porcentaje_10_90" %}
                             <th width="80">90% - 50%</th>
                             {#<th width="80">10% - 50%</th>#}
                         {% else %}
                             <th width="80">Val. unit.</th>
                         {% endif %}
                         <th width="80">Total</th>
                     </tr>
                 </thead>
                 <tbody>

                     {% for facturaInternacion in facturaInternaciones %}
                         {{ _self.internacion(facturaInternacion,tipo_total,loop,tipo_total_al10_al90_unitario) }}
                     {% endfor %}

                 </tbody>
            </table>
    
    {% endmacro %}  
    
    {% macro internacion (facturaInternacion,prestaciones,tipo_total,loop,tipo_total_al10_al90_unitario) %}

            {% set totalSum = 0 %}
            {% set diezPorcentSum = 0 %}
            {% set noventaPorcentSum = 0 %}
            {% set valorUnitarioSum = 0 %}
            {% set internacion = facturaInternacion.internacion %}
            
            {% for prestacion in prestaciones[internacion.id] %}            
                
                {% set totalSum = totalSum + prestacion.total %}
                {% set valorUnitarioSum = valorUnitarioSum + prestacion.valor_unitario %}
                {% if tipo_total == "porcentaje_10_90" %}
                    {% set diezPorcentSum = diezPorcentSum + prestacion.porcentaje_10 %}
                    {% set noventaPorcentSum = noventaPorcentSum + prestacion.porcentaje_90 %}            
                {% endif %}
       
            {% endfor %}
       
                <tr>
                    <td align="center">{{ loop.index }}</td>
                    {% if tipo_total_al10_al90_unitario == "al90" %}
                        <td align="center"> {{ facturaInternacion.facturaFiscal }}</td>
                        <td align="center">90%</td>
                        <td align="center"> {{ facturaInternacion.informacionExtraValor }}</td>
                        <td align="center"> {{ prestacion.total }}</td>                           
                        <td align="center"> $ {{  prestacion.porcentaje_90 }}</td>
                        <td align="center"> $ {{  prestacion.porcentaje_90 }}</td>
                     {% elseif tipo_total_al10_al90_unitario == "al10" %}
                        <td align="center"> {{ facturaInternacion.facturaFiscalExtra }}</td>
                        <td align="center">10%</td>
                        <td align="center"> {{ facturaInternacion.informacionExtraValor }}</td>   
                        <td align="center"> {{ prestacion.total }}</td>   
                        <td align="center">$ {{  prestacion.porcentaje_10 }}</td>
                        <td align="center">$ {{  prestacion.porcentaje_10 }}</td>                                           
                     {% else %}
                        <td align="center"> {{ facturaInternacion.facturaFiscal }}</td>
                        <td align="center">$ {{  prestacion.valor_unitario }}</td>
                        <td align="center">$ {{  prestacion.valor_unitario }}</td>          
                     {% endif %}
                        
                </tr>
    
    {% endmacro %}

    </body>
</html>