<html>
    <head>
        <link type="text/css" rel="media"
              href="{{ asset('bundles/comuncomun/css/factura-pdf.css') }}" />
    </head>

    <body>
        
    {% if tiposFactura['tipoFactura'] == datosFactura['tipoFactura'] %}
        
        {{ _self.facura_A(factura,facturaInternaciones,prestaciones,medicamentos,tiposFactura,datosFactura) }}        

    {% else %}        

        {% for facturaInternacion in facturaInternaciones %}
        
           {% if tiposFactura['tipoPeriodoFacturaCorteMensual'] == datosFactura['tipoPeriodoFactura'] %}
               {{ _self.facura_B(factura,facturaInternacion,prestaciones,medicamentos,'al90',tiposFactura,datosFactura) }}
                <pagebreak type="NEXT-ODD" resetpagenum="1" pagenumstyle="i" suppress="off" />
               {{ _self.facura_B(factura,facturaInternacion,prestaciones,medicamentos,'al10',tiposFactura,datosFactura) }}
           {% else %}
               {{ _self.facura_B(factura,facturaInternacion,prestaciones,medicamentos,'unitario',tiposFactura,datosFactura) }}
           {% endif %}

           {%if loop.last == false %}
               <pagebreak type="NEXT-ODD" resetpagenum="1" pagenumstyle="i" suppress="off" />
           {% endif %}

        {% endfor %}  
                       
    {% endif %}
        
    {% macro facura_A(factura,facturaInternaciones,prestaciones,medicamentos,tiposFactura,datosFactura) %}          
           <div class="factura-fiscal-section-1">

                <div class="factura-fiscal-fecha">
                    <div>{{ 'NOW' | date('Y') }}</div>
                    <div>{{ 'NOW' | date('m') }}</div> 
                    <div>{{ 'NOW' | date('d') }}</div>
                </div>
            </div>

            <div class="factura-fiscal-section-2">
                <div>
                    {% if datosFactura['destinatario'] %}
                        {{ datosFactura['destinatario'] }}
                    {% else %}
                        {{ factura.obraSocial is not empty ? factura.obraSocial : "" }}                        
                    {% endif %}
                </div>
                 <div>
                    {% if datosFactura['destinatario'] %}
                        {{ datosFactura['destinatarioDireccion'] }}
                    {% else %}
                        {{ factura.obraSocial is not empty ? factura.obraSocial.direccion : "" }}                        
                    {% endif %}
                </div>
            </div>

            <div class="factura-fiscal-section-3"></div>

            {% set totalSum = 0 %}
            {% for facturaInternacion in facturaInternaciones %}
            
                {% for prestacion in prestaciones[facturaInternacion.internacion.id] %}
                    {% set totalSum = totalSum + prestacion.total %}
                {% endfor %}

                {% for medicamento in medicamentos[facturaInternacion.internacion.id] %}
                    {% set totalSum = totalSum + medicamento.total_cobertura %}
                {% endfor %}            
            
            {% endfor %}               
               
            <div class="factura-fiscal-section-4">
                <table width="500" >
                    <tr>
                        <th width="350">Descripción</th>
                        <th width="150">Importe</th>
                    </tr>
                    <tr>
                        <td>Por gastos de internación en el C.I.P.E.N durante el periodo {{ factura.periodo | date('m/Y') }}  con obra social {{ factura.obraSocial.nombre }}</td>
                        <td> $ {{ totalSum }}</td>
                    </tr>                    
                </table>
                
                
            </div>
               

            <div class="factura-fiscal-total">
              $ {{ totalSum }}
            </div>               
               
               
    {% endmacro %}
               
    {% macro facura_B(factura,facturaInternacion,prestaciones,medicamentos,tipo_total_al10_al90_unitario,tiposFactura,datosFactura) %}

            <div class="factura-fiscal-section-1">

                <div class="factura-fiscal-fecha">
                    <div>{{ 'NOW' | date('Y') }}</div>
                    <div>{{ 'NOW' | date('m') }}</div> 
                    <div>{{ 'NOW' | date('d') }}</div>
                </div>
            </div>

            <div class="factura-fiscal-section-2">
                <div>
                    {{ factura.obraSocial is not empty ? factura.obraSocial : "" }}
                </div>
                 <div>
                    {{ factura.obraSocial is not empty ? 
                        factura.obraSocial.direccionNumero~" - "~
                        factura.obraSocial.direccionCalle~" - "~
                        factura.obraSocial.direccionNumero : "" 
                     }}
                </div>
            </div>

            <div class="factura-fiscal-section-3">

                {% set internacion = facturaInternacion.internacion %}

                <table class="table table-align-left">
                    <thead>
                        <tr>
                            <th  width="25%">
                                {% if tiposFactura['tipoPeriodoFacturaCorteMensual'] == datosFactura['tipoPeriodoFactura'] %}
                                   Periodo: {{ factura.periodo | date('m/Y') }}
                               {% else %}
                                   Periodo: {{ internacion.fechaHoraEgreso | date('m/Y') }}
                               {% endif %}                                                        
                            </th>
                            <th  width="28%">Historia clínica n°: {{ internacion.getNumeroFormateado }} </th>
                            <th  width="46%"> 
                                {{ datosFactura['informacionExtraLabel'] ? datosFactura['informacionExtraLabel']~": "~facturaInternacion.informacionExtraValor : "" }} 
                            </th>
                        </tr>
                        <tr>
                            <th>
                                {% if factura.obraSocial is not empty %}
                                     Afiliado n°: {{ internacion.numeroObraSocialPaciente  }} 
                                {% else %}
                                     Paciente n°: {{ internacion.paciente.numero  }} 
                                {% endif %}                            </th>
                            <th >
                                DNI: {{ internacion.paciente.dni is not empty ? internacion.paciente.dni : "-"  }}</th>
                            <th>
                                Apellido, nombre: {{ internacion.paciente.apellido~", "~internacion.paciente.nombre }}
                            </th>
                        </tr>
                    </thead>
                    </table>
            </div>
            <div class="factura-fiscal-section-4">
                {{ _self.internacion(facturaInternacion.internacion,prestaciones,medicamentos,tipo_total_al10_al90_unitario,tiposFactura,datosFactura) }}       
            </div>

            <div class="factura-fiscal-total">

              {% set totalSum = 0 %}
              {% set diezPorcentSum = 0 %}
              {% set noventaPorcentSum = 0 %}
              {% set valorUnitarioSum = 0 %}

              {% for prestacion in prestaciones[internacion.id] %}

                  {% set totalSum = totalSum + prestacion.total %}
                  {% set valorUnitarioSum = valorUnitarioSum + prestacion.valor_unitario %}
                  {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                      {% set diezPorcentSum = diezPorcentSum + prestacion.porcentaje_10 %}
                      {% set noventaPorcentSum = noventaPorcentSum + prestacion.porcentaje_90 %}            
                  {% endif %}   
                
              {% endfor %}
                
              {% set totalSumMedicamentosCobertura = 0 %}
              {% set totalSumMedicamentosNoCobertura = 0 %}
                
              {% for medicamento in medicamentos[internacion.id] %}
                    
                    {% set totalSumMedicamentosCobertura = totalSumMedicamentosCobertura + medicamento.total_cobertura %}
                    {% set totalSumMedicamentosNoCobertura = totalSumMedicamentosNoCobertura + medicamento.total_no_cobertura %}
              {% endfor %}  
               
              {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
               
                   {% if tipo_total_al10_al90_unitario == "al90" %}
                       $ {{ noventaPorcentSum + totalSumMedicamentosCobertura }}
                   {% else %}
                       $ {{ diezPorcentSum + totalSumMedicamentosNoCobertura }}
                   {% endif %}
               
               {% else %}
                       $ {{ totalSum + totalSumMedicamentosCobertura }}
               {% endif %}
               

            </div>
    
    {% endmacro %}
            
    {% macro internacion (internacion,prestaciones,medicamentos,tipo_total_al10_al90_unitario,tiposFactura,datosFactura) %}
                     
            
        {% set totalSumPrestaciones = 0 %}
        {% set totalSumMedicamentosCobertura = 0 %}        
        {% set totalSumMedicamentosNoCobertura = 0 %}        
        
        {% if prestaciones[internacion.id] | length > 0 %}
            <table class="table-bordered" >
                <thead>
                    <tr>
                        <th width="30">Cant.</th>
                        <th align="center" width="100">Código</th>
                        <th>
                            Prestación
                        </th>
                        {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                            {% if tipo_total_al10_al90_unitario == 'al90' %}
                                <th width="80">90%</th>
                             {% else %}
                                <th width="80">10%</th>
                              {% endif %}
                        {% else %}
                            <th width="80">Valor unitario</th>
                       {% endif %}
                        <th width="80">Total</th>
                    </tr>
                </thead>
                <tbody>

                {% set diezPorcentSum = 0 %}
                {% set noventaPorcentSum = 0 %}
                {% set valorUnitarioSum = 0 %}

                {% for prestacion in prestaciones[internacion.id] %}


                    {% set totalSumPrestaciones = totalSumPrestaciones + prestacion.total %}
                    {% set valorUnitarioSum = valorUnitarioSum + prestacion.valor_unitario %}
                    {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                        {% set diezPorcentSum = diezPorcentSum + prestacion.porcentaje_10 %}
                        {% set noventaPorcentSum = noventaPorcentSum + prestacion.porcentaje_90 %}            
                    {% endif %}

                    <tr>
                        <td align="center" >{{ prestacion.cantidad }}</td>
                        <td align="center">{{ prestacion.tipo == "modulo" ?  prestacion.object.codigo : prestacion.object.acto.codigo }}</td>
                        <td>
                            {{ prestacion.tipo == "modulo" ?  prestacion.object.descripcion : prestacion.object.acto.descripcion }}
                        </td>
                        
                        {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                            {% if tipo_total_al10_al90_unitario == 'al90' %}
                                <td align="center">$ {{ prestacion.porcentaje_90 }}</td>
                                <td align="center">$ {{ prestacion.porcentaje_90 }}</td>
                            {% else %}
                                <td align="center">$ {{  prestacion.porcentaje_10 }}</td>
                                <td align="center">$ {{  prestacion.porcentaje_10 }}</td>
                            {% endif %}
                         {% else %}
                            <td align="center">$ {{  prestacion.valor_unitario }}</td>
                            <td align="center">$ {{ prestacion.total }}</td>                 
                         {% endif %}
                           
                    </tr>
                {% endfor %}

                    <tr>
                        <td colspan="3" align="center">Total prestaciones</td>

                        {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                            {% if tipo_total_al10_al90_unitario == 'al90' %}
                                <td align="center">$ {{noventaPorcentSum}}</td>
                                <td align="center">$ {{noventaPorcentSum}}</td>
                            {% else %}
                                <td align="center">$ {{ diezPorcentSum }}</td>
                                <td align="center">$ {{ diezPorcentSum }}</td>
                            {% endif %}
                         {% else %}
                            <td align="center">$ {{ valorUnitarioSum }}</td>    
                            <td align="center">$ {{totalSumPrestaciones}}</td>
                         {% endif %}
                        
                    </tr>                

                </tbody>
            </table>

        {% endif %}
        
        
        
        {% if medicamentos[internacion.id] | length > 0 %}
            <table class="table-bordered" >
                <thead>
                    <tr>
                        <th width="30">Cant.</th>
                        <th>Medicamento</th>
                        {% if datosFactura['coberturaMedicamentoCatastro'] != 100 %}
                            {% if tipo_total_al10_al90_unitario == 'al10' %}
                                <th width="80" align="center" >{{ 100 - datosFactura['coberturaMedicamentoCatastro'] }}%</th>
                            {% else %}
                                <th width="80" align="center" >{{ datosFactura['coberturaMedicamentoCatastro'] }}%</th>
                            {% endif %}
                        {% endif %}
                        <th width="80" align="center" >Total</th>
                    </tr>
                </thead>
                <tbody>

                {% set total = 0 %}
                    
                {% for medicamento in medicamentos[internacion.id] %}
                    
                    {% set totalSumMedicamentosCobertura = totalSumMedicamentosCobertura + medicamento.total_cobertura %}
                    {% set totalSumMedicamentosNoCobertura = totalSumMedicamentosNoCobertura + medicamento.total_no_cobertura %}
                    {% set total = total + medicamento.total %}
                    <tr>
                        <td align="center">{{ medicamento.cantidad }}</td>
                        <td>{{ medicamento.object.medicamento}}</td>
                        {% if datosFactura['coberturaMedicamentoCatastro'] != 100 %}
                            {% if tipo_total_al10_al90_unitario == 'al10' %}
                                <td align="center">$ {{ medicamento.total_no_cobertura }}</td>
                                <td align="center">$ {{ medicamento.total_no_cobertura }}</td>
                            {% else %}
                                <td align="center">$ {{ medicamento.total_cobertura }}</td>
                                <td align="center">$ {{ medicamento.total_cobertura }}</td>
                            {% endif %}
                        {% else %}
                            <td align="center">$ {{ medicamento.total_cobertura }}</td>                                
                        {% endif %}
                        
                    </tr>
                {% endfor %}

                    <tr>
                        <td colspan="2" align="center">Total medicamentos</td>
                        {% if datosFactura['coberturaMedicamentoCatastro'] != 100 %}
                            {% if tipo_total_al10_al90_unitario == 'al10' %}
                                <td align="center">$ {{ totalSumMedicamentosNoCobertura }}</td>
                                <td align="center">$ {{ totalSumMedicamentosNoCobertura }}</td>
                            {% else %}
                                <td align="center">$ {{ totalSumMedicamentosCobertura }}</td>
                                <td align="center">$ {{ totalSumMedicamentosCobertura }}</td>
                            {% endif %}
                        {% else %}
                            <td align="center">$ {{ medicamento.total_cobertura }}</td>                                
                        {% endif %}
                    </tr>                                 

                </tbody>
            </table>

        {% endif %}
                 
    {% endmacro %}

               
             
    </body>
</html>