<html>
    <head>
        <link type="text/css" rel="media"
              href="{{ asset('bundles/comuncomun/css/factura-pdf.css') }}" />
    </head>

    <body>

        
     {% if datosFactura['dividePorTipoInternacion'] %}
        
        {% for tipoInternacion,facturaInternaciones in facturaInternacionPorTipoInternacion %}
        
            {{ _self.mostrarSegunTipoTotal (factura,facturaInternaciones,prestaciones,medicamentos,tiposFactura,datosFactura,tipoInternacion) }}
            {% if loop.last == false %}
                <pagebreak type="NEXT-ODD" resetpagenum="1" pagenumstyle="i" suppress="off" />
            {% endif %}
                
        {% endfor %}
        
     {% else %}

        {{ _self.mostrarSegunTipoTotal (factura,facturaInternaciones,prestaciones,medicamentos,tiposFactura,datosFactura) }}                       
    {% endif %}
       
    {% macro mostrarSegunTipoTotal(factura,facturaInternaciones,prestaciones,medicamentos,tiposFactura,datosFactura,tipoInternacion) %}

        {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}        

            {{ _self.facturaInternacion (factura,facturaInternaciones,prestaciones,medicamentos,'al10',tiposFactura,datosFactura) }}
            <pagebreak type="NEXT-ODD" resetpagenum="1" pagenumstyle="i" suppress="off" />
            {{ _self.facturaInternacion (factura,facturaInternaciones,prestaciones,medicamentos,'al90',tiposFactura,datosFactura) }}
            
        {% else %}        
            {{ _self.facturaInternacion (factura,facturaInternaciones,prestaciones,medicamentos,'unitario',tiposFactura,datosFactura,tipoInternacion) }}
        {% endif %}                
                
                
    {% endmacro %}
        
    {% macro facturaInternacion (factura,facturaInternaciones,prestaciones,medicamentos,tipo_total_al10_al90_unitario,tiposFactura,datosFactura,tipoInternacion) %}  
                    
            
            <div class="titulo">
                RESUMEN GENERAL DE FACTURACIÓN 
                {{ datosFactura['dividePorTipoInternacion'] ? '('~tipoInternacion| upper~')'  : '' }} 
            </div>            

            <table class="table table-align-left">
                <thead>
                    <tr>
                        <th>
                            Obra Social: 
                            {{ factura.obraSocial is not empty ? factura.obraSocial : "Sin obra social" }}
                        </th>
                    </tr>
                    <tr>
                        <th>Periodo: {{ factura.periodo | date('m/Y') }}</th>
                    </tr>
                </thead>
            </table>

            <table class="table-bordered" >
                 <thead>
                     <tr>
                        <th width="30" align="center">&nbsp;</th>                         
                        
                        {% if tiposFactura['tipoFactura'] == datosFactura['tipoFactura'] %}
                            <th>Apellido, Nombre</th>            
                            <th width="130">N° Afiliado</th>                                                  
                         {% else %}
                            <th align="center">Factura N°</th>  
                        {% endif %} 

                        {% if datosFactura['informacionExtraLabel'] %}
                            <th width="150" align="center"> {{ datosFactura['informacionExtraLabel'] }}</th>                   
                        {% endif %}

                        {% if tipo_total_al10_al90_unitario == "al90" %}

                            <th width="30" align="center" width="80">&nbsp;</th>
                            <th align="center" width="80">Importe</th>                                              
                            <th align="center" width="80">90% - {{ datosFactura['coberturaMedicamentoCatastro'] }}%</th>

                         {% elseif tipo_total_al10_al90_unitario == "al10" %}

                            <th width="30" align="center">&nbsp;</th>
                            <th align="center" width="80">Importe</th>                            
                            <th align="center" width="80">10% - {{ 100 - datosFactura['coberturaMedicamentoCatastro'] }}%</th>

                         {% endif %}                       

                         <th align="center" width="80">Total</th>                        
                        
                     </tr>
                 </thead>
                 <tbody>
                     
                     {% set totalSumGeneral = 0 %}
                     {% set diezPorcentSumGeneral = 0 %}
                     {% set noventaPorcentSumGeneral = 0 %}
                     {% set totalSumMedicamentosCoberturaGeneral = 0 %}        
                     {% set totalSumMedicamentosNoCoberturaGeneral = 0 %}                        

                                          
                     {% for facturaInternacion in facturaInternaciones %}
                         <tr>
                            <td align="center">{{loop.index}}</td>                     
                             
                            {% set totalSum = 0 %}
                            {% set diezPorcentSum = 0 %}
                            {% set noventaPorcentSum = 0 %}
                            
                            {% set totalSumMedicamentosCobertura = 0 %}        
                            {% set totalSumMedicamentosNoCobertura = 0 %}                                                    

                            {% set internacion = facturaInternacion.internacion %}

                            {% if prestaciones[internacion.id] | length > 0 %}
                            
                                {% for prestacion in prestaciones[internacion.id] %}            

                                    {% set totalSum = totalSum + prestacion.total %}

                                    {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                                        {% set diezPorcentSum = diezPorcentSum + prestacion.porcentaje_10 %}
                                        {% set noventaPorcentSum = noventaPorcentSum + prestacion.porcentaje_90 %}            
                                    {% endif %}

                                {% endfor %}

                                {% set totalSumGeneral = totalSumGeneral + totalSum %}                                
                                {% set diezPorcentSumGeneral = diezPorcentSumGeneral + diezPorcentSum %}    
                                {% set noventaPorcentSumGeneral = noventaPorcentSumGeneral + noventaPorcentSum %}          
                            
                            {% endif %}
                            
                            
                            
                            {% if medicamentos[internacion.id] | length > 0 %}
                            
                                {% for medicamento in medicamentos[internacion.id] %}            

                                    {% set totalSumMedicamentosCobertura = totalSumMedicamentosCobertura + 
                                                                           medicamento.total_cobertura %}
                            
                                    {% set totalSumMedicamentosNoCobertura = totalSumMedicamentosNoCobertura + 
                                                                             medicamento.total_no_cobertura %}

                                {% endfor %}

                                {% set totalSumMedicamentosCoberturaGeneral = totalSumMedicamentosCoberturaGeneral +
                                                                              totalSumMedicamentosCobertura  %}        
                            
                                {% set totalSumMedicamentosNoCoberturaGeneral = totalSumMedicamentosNoCoberturaGeneral +
                                                                                totalSumMedicamentosNoCobertura %}         
                            
                            {% endif %}
                            
                            

                            {% if tiposFactura['tipoFactura'] == datosFactura['tipoFactura'] %}
                                <td> {{ internacion.paciente }}</td>            
                                <td align="center"> {{ internacion.numeroObraSocialPaciente }}</td>                                  
                             {% else %}
                                {% if tipo_total_al10_al90_unitario == "al90" %}
                                    <td align="center">{{ facturaInternacion.facturaFiscal }}</td>                  
                                {% else %}
                                    <td align="center">{{ facturaInternacion.facturaFiscalExtra }}</td>                            
                                {% endif %}
                            {% endif %} 

                            {% if datosFactura['informacionExtraLabel'] %}
                                <td align="center"> {{ facturaInternacion.informacionExtraValor }}</td>                   
                            {% endif %}

                            {% if tipo_total_al10_al90_unitario == "al90" %}

                                <td align="center">90%</td>

                                <td align="center"> $ {{  totalSum + totalSumMedicamentosCobertura }}</td>
                                <td align="center"> $ {{  noventaPorcentSum + totalSumMedicamentosCobertura }}</td>
                                <td align="center"> $ {{  noventaPorcentSum + totalSumMedicamentosNoCobertura }}</td>

                             {% elseif tipo_total_al10_al90_unitario == "al10" %}

                                <td align="center">10%</td>
                                
                                <td align="center"> $ {{  totalSum + totalSumMedicamentosNoCobertura }}</td>
                                <td align="center"> $ {{  diezPorcentSum + totalSumMedicamentosNoCobertura }}</td>
                                <td align="center"> $ {{  diezPorcentSum + totalSumMedicamentosNoCobertura }}</td>                                

                             {% else %}

                                <td align="center"> $ {{ totalSum + totalSumMedicamentosCobertura }}</td>

                             {% endif %}                                                     
                             
                         </tr>
                     {% endfor %}

                 </tbody>
            </table>
                      
            {% if tiposFactura['tipoTotalFactura9010'] == datosFactura['tipoTotalFactura'] %}
                <table class="table-bordered" align="right" width="240">            
            {% else %}            
                <table class="table-bordered" align="right"  width="80">                        
            {% endif %}
            
                <thead>
                    <tr>
                       {% if tipo_total_al10_al90_unitario == "al90" %}
                           <th align="center" width="80">${{totalSumGeneral +
                                                            totalSumMedicamentosCoberturaGeneral +
                                                            totalSumMedicamentosNoCoberturaGeneral}}</th>                        
                           <th align="center" width="80">${{ noventaPorcentSumGeneral + totalSumMedicamentosCoberturaGeneral }}</th>
                           <th align="center" width="80">${{ noventaPorcentSumGeneral + totalSumMedicamentosCoberturaGeneral }}</th>                            
                        {% elseif tipo_total_al10_al90_unitario == "al10" %}
                           <th align="center" width="80">${{totalSumGeneral +
                                                            totalSumMedicamentosCoberturaGeneral +
                                                            totalSumMedicamentosNoCoberturaGeneral}}
                           </th>                        
                           <th align="center" width="80">${{ diezPorcentSumGeneral + totalSumMedicamentosNoCoberturaGeneral }}</th>
                           <th align="center" width="80">${{ diezPorcentSumGeneral + totalSumMedicamentosNoCoberturaGeneral }}</th>                            
                        {% else %}
                           <th align="center" width="80">${{totalSumGeneral + totalSumMedicamentosCoberturaGeneral}}</th>                                           
                        {% endif %}                                            
                    </tr>
                </thead>                
            </table>    
            
    {% endmacro %}  
   

    </body>
</html>