{% extends "ComunComunBundle:Default:layout.html.twig" %}

{% block admin_title %}
    Ver facturación
{% endblock %}

{% block admin_actions %}
    <li><a href="{{ path('factura') }}"><i class="icon-chevron-left"></i> Volver a listado</a></li>  
    <li><a href="{{ path('factura_imprimir',{id:factura.id}) }}"><i class="icon-print"></i> &nbsp;Imprimir</a></li>  
{% endblock %}
    
{% set admin_menu_active = 'factura' %}
    
{% block admin_content %}
        
        
    {% for facturaInternacion in facturaInternaciones %}
        <h4>{{ factura.obraSocial is not empty ? "Obra social "~factura.obraSocial : "Sin obra social" }}</h4>
        {% set internacion = facturaInternacion.internacion %}
        <div class="row-fluid">
            <table class="table">
                <tr >
                    <th style="border:none" width="25%">Periodo: {{ periodo }}</th>
                    <th style="border:none" width="25%">Historia clínica n°: {{ internacion.numero }} </th>
                    <th style="border:none" width="49%"></th>
                </tr>
                <tr>
                    <th style="border:none">
                       {% if factura.obraSocial is not empty %}
                            Afiliado n°: {{ internacion.numeroObraSocialPaciente  }} 
                       {% else %}
                            Paciente n°: {{ internacion.paciente.numero  }} 
                       {% endif %}
                    </th>
                    <th style="border:none">DNI: {{ internacion.paciente.dni }}</th>
                    <th style="border:none">Apellido, nombre: {{ internacion.paciente.apellido~", "~internacion.paciente.nombre }}</th>
                </tr>
                <tr>
                    <th style="border:none">Fecha de ingreso: {{ internacion.fechaHoraIngreso | date('d/m/Y') }}</th>
                    <th style="border:none">Fecha de egreso: {{ internacion.fechaHoraIngreso | date('d/m/Y') }} </th>
                    <th style="border:none"></th>                
                </tr>
            </table>
            {{ _self.internacion(facturaInternacion.internacion,prestaciones,tipo_total) }}
        </div>
        {% if loop.last != true %} <hr> {% endif %}
    {% endfor %}
    
    {% macro internacion (internacion,prestaciones,tipo_total) %}
        
        <table class="table table-bordered table-striped table-align-center">
            <thead>
                <tr>
                    <th width="30">Cant.</th>
                    <th width="100">Código</th>
                    <th class="col-left" width="{{ tipo_total == "porcentaje_10_90" ? "330" : "410" }}">Descripción</th>
                    <th width="100">Mat. Prof.</th>
                    {% if tipo_total == "porcentaje_10_90" %}
                        <th width="80">90%</th>
                        <th width="80">10%</th>
                    {% else %}
                        <th width="80">Valor unitario</th>
                   {% endif %}
                    <th width="80">Total</th>
                </tr>
            </thead>
            <tbody>

            {% set totalSum = 0 %}
            {% set diezPorcentSum = 0 %}
            {% set noventaPorcentSum = 0 %}
            {% set valorUnitarioSum = 0 %}
            
            {% for prestacion in prestaciones[internacion.id] %}
            
                
                {% set totalSum = totalSum + prestacion.total %}
                {% set valorUnitarioSum = valorUnitarioSum + prestacion.valor_unitario %}
                {% if tipo_total == "porcentaje_10_90" %}
                    {% set diezPorcentSum = diezPorcentSum + prestacion.porcentaje_10 %}
                    {% set noventaPorcentSum = noventaPorcentSum + prestacion.porcentaje_90 %}            
                {% endif %}
    
                <tr>
                    <td>{{ prestacion.cantidad }}</td>
                    <td>{{ prestacion.tipo == "modulo" ?  prestacion.object.codigo : prestacion.object.acto.codigo }}</td>
                    <td class="col-left">
                        {{ prestacion.tipo == "modulo" ?  prestacion.object.descripcion : prestacion.object.acto.descripcion }}
                    </td>
                    <td>{{ internacion.prescriptor.matricula }}01</td>
                    
                    {% if tipo_total == "porcentaje_10_90" %}
                        <td>{{ prestacion.porcentaje_90 }}</td>
                        <td>{{  prestacion.porcentaje_10 }}</td>
                     {% else %}
                        <td>{{  prestacion.valor_unitario }}</td>
                     {% endif %}
                    <td>{{ prestacion.total }}</td>                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-bordered pull-right table-align-center" style="width:{{ tipo_total == "porcentaje_10_90" ? "445" : "340" }}px">
            <tr>
                <th width="200">Totales</th>
                {% if tipo_total == "porcentaje_10_90" %}
                    <th width="265">{{noventaPorcentSum}}</th>
                    <th width="265">{{ diezPorcentSum }}</th>
                {% else %}
                    <th width="265">{{ valorUnitarioSum }}</th>
                {% endif %}
                <th width="260">{{totalSum}}</th>
            </tr>
        </table>

    
    {% endmacro %}
        
    
{% endblock %}
     