{{ form_errors (form) }}

<div class="control-group">
    {{ form_label(form.codigo,'Código',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.codigo, { attr : { class : 'span4' } }) }}
        {{ form_errors (form.codigo) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.descripcion,'Descripción',{ label_attr : { class : 'control-label'} }) }}
    <div class="controls">
        {{ form_widget (form.descripcion, { attr : { class : 'span7' } }) }}
        {{ form_errors (form.descripcion) }}
    </div>
</div>             

{{ form_rest (form) }}
