{% extends "ComunComunBundle:Default:layout.html.twig" %}
  
{% block admin_title %}
    Gestión de actos médicos
{% endblock %}
    
{% block admin_actions %}
    <li><a href="{{ path('acto_crear') }}"><i class="icon-plus"></i> Crear</a></li>
{% endblock %}

{% set admin_menu_active = 'prestacion' %}    
    
{% block admin_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                            <a class="btn" href="{{ path('acto_unidad', {actoId: entity.id}) }}" title="Unidad Obra Social" >
                                <i class="icon-list"></i> &nbsp;OS
                            </a>
                            <a class="btn" href="{{ path('acto_editar', {id: entity.id}) }}" title="Editar" >
                                <i class="icon-pencil"></i>
                            </a>
                           <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar este acto?')){ return false }" href="{{ path('acto_eliminar', {id: entity.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a>                                
                        </div>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
