{% extends "ComunComunBundle:Default:layout.html.twig" %}
  
{% block admin_title %}
    Gestión de diagnóstico
{% endblock %}
    
{% block admin_actions %}
    <li><a href="{{ path('diagnostico_crear') }}"><i class="icon-plus"></i> Crear</a></li>
{% endblock %}
    
{% set admin_menu_active = 'diagnostico' %}
    
{% block admin_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th width="160">Código</th>                
                <th width="120">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>                    
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.codigo }}</td>
                    <td>
                        <div style="margin:0; padding:0;" class="btn-toolbar pull-right">
                            <a class="btn" href="{{ path('diagnostico_editar', {id: entity.id}) }}" title="Editar" >
                                <i class="icon-pencil"></i>
                            </a>
                            <a class="btn btn-danger" onclick="if(!confirm('¿Seguro desea eliminar este diagnóstico?')){ return false }" href="{{ path('diagnostico_eliminar', {id: entity.id}) }}" title="Eliminar" >
                                <i class="icon-white icon-trash"></i>
                            </a>                                
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No existen registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
